@model int
<div class="container row">
    <div class="col-12 text-center">
        <h2 class="text-primary text-center"></h2>
        Order Submitted Successfully
        <h /><br />
        <img src="~/Images/ignou.jpg" />
    </div>
    <div class="col-12 text-center style:" colour:green">
        <br />
        thanks you for your order!<br />
        We have received your order and we will send follow-up email shortly
        <br />
        Your order Number is ;@Model
    </div>
</div>


